html,body {
    padding: 0;
    margin: 0;
    background-color: black;
}

#toploga {
    max-width:100%;
}

@media screen and (min-width: 20em) {
    
    #maincontent {
        max-width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1;
    }
}

@media screen and (min-width: 60em) {
    body {
        background-color: blueviolet;
    }
}