@import url("https://use.typekit.net/pdd0gnf.css");

 //Almaq Refined, Almaq Rough, Astoria Sans, Astora Sans condesed, Pitch, Lomrimer No 2, Parppim
 //Lomrimer No 2 Condenced, Lomrimer No 2 Stencil

html,body {
    padding: 0;
    margin: 0;
    background-color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.training {
    max-width: 100%;
    max-height: 3fr;
    display: block;
    border: 5px solid green;
    padding: 2em;
    margin: 1em;
    color: green;
    text-align: center;
}

.info {
    place-self: center;
    padding: 1em;
    color:lightgray;
}

#toplogo {
    grid-area: toplogo;
}

#nexttraining {
    grid-area: nexttraining;
}

#maininfo {
    grid-area: maininfo;
}

#imageshifter {
    grid-area: imageshifter;
}

#contact {
    grid-area: contact;
}

#endlogo {
    grid-area: endloga;
}

@media screen and (min-width: 20em) {
    
    #maincontent {
<<<<<<< HEAD
        max-width: 100vw;
        height: 100vh;
=======
>>>>>>> master
        display: grid;
        grid-template-columns: 100vw 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "toplogo"
            "nexttraining"
            "maininfo"
            "imageshifter"
            "contact"
            "endlogo";
        gap: 0.6em;
    }
}

@media screen and (min-width: 60em) {
    body {
        background-color: blueviolet;
    }
<<<<<<< HEAD
}
=======
}

>>>>>>> master
